;;streamDDC
;;streamLib
;;streamCell
;;streamRunDir

(if (not (boundp 'streamRunDir))
    (setq streamRunDir (getShellEnvVar "WORKAREA")))
(if (not (boundp 'streamFile))
    (setq streamFile (strcat streamCell ".gds")))

(setq streamOutKeys 
      (list nil
	    'runDir			streamRunDir
	    'libName			streamLib
	    'primaryCell		streamCell
	    'outFile			streamFile
	    'viewName			"layout"
	    'scale			0.001000
	    'units			"micron"
	    'compression		"none"
	    'hierDepth		        32
	    'convertToGeo		nil
	    'maxVertices		200
	    'refLib			nil
	    'libVersion		       "5.0"
	    'checkPolygon		nil
	    'snapToGrid		        nil
	    'simMosaicToArray	        nil
	    'caseSensitivity	        "preserve"
	    'textCaseSensitivity	"preserve"
	    'lineToZeroPath		"path"
	    'convertDot			"ignore"
	    'rectToBox			nil
	    'convertPathToPoly		nil
	    'keepPcell			nil
	    'replaceBusBitChar		nil
	    'useParentXYforText		nil
	    'reportPrecision		nil
	    'runQuiet			nil
	    'comprehensiveLog		t
	    'ignorePcellEvalFail	nil
	    'errFile			""
	    'NOUnmappingLayerWarning	nil
	    'techFileChoice		nil
	    'pcellSuffix		"DbId"
	    'respectGDSIILimits		nil
	    'dumpPcellInfo		t
	    'genListHier		t
	    'cellMapTable		""
	    'layerTable			""
	    'textFontTable		""
	    'convertPin			"geometry"
	    'pinInfo			0
	    'pinTextMapTable		""
	    'propMapTable		""
	    'propSeparator		","
	    'userSkillFile		""
	    'rodDir			""
	    'refLibList			""))
