hdl_view_name        := hdl
structural_views     := 5
functional_view_name := verilog
netlist_view_name    := verilog
schematic_view_name  := schematic
symbol_view_name     := symbol
import_if_exists     := 1
import_cells         := 1
import_lib_cells     := 1
power_net            := VDD 
ground_net           := VSS
cont_assign_symbol   := basic patch symbol



